<!DOCTYPE html>
<html ng-app="clonerAng">
    <head>
	<link rel="stylesheet" type="text/css" href="/bower_components/foundation/css/foundation.css"/>
    
    </head>
    <body ng-controller="mainController">

	<section class="row">
	    <div class="columns text-center">
		<h1>Lov.io</h1>
		<h2 class="subheader">Easiest way to clone a site</h2>
		<p>Enter a domain to clone</p>
		<form>
			<input placeholder="Enter a domain to clone" type="text" ng-model="domainUrl">
			<button ng-click="getClone()">Clone</button>
		</form>
		
		<hr>
		<div class="result" ng-show="visible">
		    <h3>{{name}}</h3>
		    <p><a class="demo" ng-href="{{clone.demo_url}}">Cloned Demo</a></p>
		    <p><a class="download" ng-href="{{clone.download}}">Download cloned site</a></p>
		</div>
	    </div>
	</section>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
	<script src="main.js"></script>

    </body>
</html>
